<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/homepage.png'); background-size: cover; background-position: center;">  
  <mat-card class="uk-width-1-3@m">
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <!-- <img src="assets/Logo Login background.png" alt="MIM-oS"> -->
          <!-- <h3>LOGIN</h3> -->
      </div>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Login Page</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <br>
      <mat-form-field class="full-width-input" style="text-align: center;">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error>
          Please provide a valid Username
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width-input" style="text-align: center;">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button  color="primary" style="border-radius: 25px;width: 350px;">Login</button>
    </form>
  </mat-card-content>
</mat-card>
</div>