<mat-toolbar  class="expanded-toolbar">
  <h2 style="margin-left:200px"><b>Cinta Coding</b>
  </h2>
  <div fxLayout="row" fxShow="false" >
    <h4><b><u>Post</u> </b></h4>
  </div>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm style="margin-right:200px">
    <h4><b>WELCOME, </b>
      <a><b style="color:deepskyblue;" [matMenuTriggerFor]="menu2">{{username}}</b> </a>
    </h4>
  </div>
  <mat-menu #menu2="matMenu" >
    <button [routerLink]="['/detailuser/', userid]" mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Detail Profile</span>
    </button>
    <button [routerLink]="['/homepage/']" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
</mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm style="text-align: center;">
      <br>
        <div class="col-md-6">
          <mat-card style="text-align: -webkit-center;">
              
          <div class="col-md-6" style="margin-left:-480px">
            <a [routerLink]="['/dashboard/']"><mat-icon matSuffix>keyboard_backspace</mat-icon></a>
              
          </div>
          <div class="example-container mat-elevation-z8" style="width: 500px;">
            <div class="example-table-container" >
              <table mat-table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="username" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >  </th>
                  
                  <td mat-cell *matCellDef="let element" class='m-card-title' test data-label='id'  style="vertical-align: top;padding-top: 120px;width: 120px;"> 
                    <b>{{element.username}}</b></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                  <td mat-cell *matCellDef="let element" class='m-card-sub-title' data-label='title'> {{element.title}}
                  <br>
                  <br>
                  <span>{{element.body}}</span>
                  <hr>
                  <span style="color:gray;">All Comments</span>
                    <table mat-table [dataSource]="comdata" matSort>

                      <!-- Position Column -->
                      <ng-container matColumnDef="user" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header >  </th>
                        <td style="width: 120px;" mat-cell *matCellDef="let elements" class='m-card-title' test data-label='user' > 
                          <b>{{elements.name}}</b></td>
                      </ng-container>
      
                      <!-- Name Column -->
                      <ng-container matColumnDef="body">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let elements" class='m-card-sub-title' data-label='body'> {{elements.body}}
                        </td>
                      </ng-container>
                              
                      <tr mat-header-row *matHeaderRowDef="displayedColumndetail; sticky: true" hidden></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumndetail;"></tr>
                    </table>
                   </td>
                  
                </ng-container>

               
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" hidden></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
          </div>
        </mat-card>
        </div>
        
    </div>