<mat-toolbar color="primary" class="expanded-toolbar">
  <h2 style="margin-left:200px;color: wheat;"><b>Cinta Coding</b>
    <!-- <button mat-button routerLink="/">Cinta Coding</button> -->
    <!-- <button mat-button routerLink="/"><mat-icon>home</mat-icon></button> -->
  </h2>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm style="margin-right:200px">
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated" style="border-radius:25px;background: #4a9deb;">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
  </div>
</mat-toolbar>
<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/homepage.png'); background-size: cover; background-position: center;text-align-last: center;">  
  <mat-card class="uk-width-1-3@m">
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <img src="assets/homepage.png" alt="MIM-oS">
          <!-- <h3>LOGIN</h3> -->
      </div>
    <mat-card-content>
    
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>