<mat-toolbar  class="expanded-toolbar">
  <h2 style="margin-left:200px"><b>Cinta Coding</b>
  </h2>
  <div fxLayout="row" fxShow="false" >
    <h4><b><u>Post</u> </b></h4>
  </div>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm style="margin-right:200px">
    <h4><b>WELCOME, </b>
      <a><b style="color:deepskyblue;" [matMenuTriggerFor]="menu2">{{username}}</b> </a>
    </h4>
  </div>
  <mat-menu #menu2="matMenu" >
    <button [routerLink]="['/detailuser/', userid]" mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Detail Profile</span>
    </button>
    <button [routerLink]="['/homepage/']" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm style="text-align: center;">
      <br>
        <div class="col-md-6">
          <mat-form-field class="full-width-input" style="text-align: center;width: 500px;">
            <mat-icon matSuffix>search</mat-icon>
            <input matInput placeholder="Search" style="border-radius: 25px;border: 0px;background-color: lightgrey;text-align: center;width: 500px;"
             (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-card style="text-align: -webkit-center;">
          <div class="example-container mat-elevation-z8" style="width: 500px;">
            <div class="example-table-container" >
              <table mat-table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>  </th>
                  <td mat-cell *matCellDef="let element" class='m-card-title' test data-label='id' style="width:120px;"> 
                    {{element.username}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> </th>
                  <td mat-cell *matCellDef="let element" class='m-card-sub-title' data-label='Form type'> {{element.title}}
                    <br>
                    <span>
                      <mat-icon>
                        comments
                      </mat-icon> {{element.count}}
                    </span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span><a [routerLink]="['/detailcomment/', element.postId]" >Detail</a>
                      
                    </span>
                   </td>
                  
                </ng-container>

               
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" hidden></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" [pageSize]="10" showFirstLastButtons  ></mat-paginator>
          </div>
        </mat-card>
        </div>
        
    </div>