.expanded-toolbar {
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;

}
table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}

.mat-row {
  &:hover {
    background-color: #e9f3ff;
  }
  a {
    color: #3e75ff;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon {
  color: #3e75ff;
}

@media screen and (max-width: 960px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }
  
  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #fff;
      border-radius: 3px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          // font-weight: 400;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0,0,0,.54);
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    mat-card {    

      max-width: 97%;    
  
      margin: 2em auto;    
  
      text-align: center;    
  
    }
    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
    }
  }

  .mat-paginator {
    margin-top: 24px;
  }

  legend {
    color: white;
    padding: 5px;
    background: #006f6b;
    border-radius: 5px;
    font-size: 12px;
}

fieldset {
    max-width: 600px;
    border-radius: 10px;
    border-color: #4fffa5;
    background: #007b65;
    font-size: 12px;
}

input:hover {
    background: #7affce;
    font-size: 12px;
}

input {
    width: min-content;
    font-size: 12px;
}

button {
    font-size: small;
    cursor: pointer;
    color: black;
    background:  rgb(224, 224, 224);
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
    margin-bottom: 5px;
    font-size: 11px;
}

button:hover {
    background: #ff2e2e;
}

label {
    color: black;
    font-size: 12px;
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

table,
.table-sm,
th,
tr,
td {
    // width: 100%;
    font-size: 12px;
    border-collapse: unset;
}

a,textarea,select,option{
    font-size: 12px;
}

.mat-cell {
    font-size: 12px;
}

.mat-form-field {
    font-size: 12px;
    width: 25%;
}

// hide
.hide {
    display: none;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    /* padding: 0; */
    /* border-bottom-width: 1px; */
    border-bottom-style: none;
}


/* mat-table */

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}
.mat-header-row{
    min-height: 0px;
    background-color: lightgray;
}
b, strong {
    font-weight: bolder;
    color: black;
}
// .mat-column-action {
//     flex: 0 0 10%;
// }
.mat-header-cell, .mat-cell {
    justify-content: left;
  }
//   .mat-row:nth-child(even){
//     background-color: red;
// }       
.mat-row:nth-child(odd){
    background-color:  #eee;
}

.mat-column-username {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
.mat-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.mat-row{
    min-height: 0px;
}
.mat-menu{
    width:200px;
}
}