/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/theming'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './uikit.css';
body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer{
    flex-grow: 1;
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
